input {
  beats {
    port => 5044
    host => "0.0.0.0"
  }
}

filter {
    if [container] {
        mutate { add_tag => [ "logstash_modified" ] }
    }  
}

output {

      elasticsearch {
        hosts => [ {% for node in elasticsearch_cluster_network_addresses %}"{% if elasticsearch_security_http_enabled %}https{% else %}http{% endif %}://{{ node }}:{{ elasticsearch_network_port }}"{% if loop.index != elasticsearch_cluster_network_addresses|length %},{% endif %}{% endfor %} ] 
        ssl => true
        ssl_certificate_verification => false
        manage_template => false
        cacert => "/usr/share/logstash/config/ESca.crt"
        user => "logstash_writter"
        password => "kog7gueN"
        index => "logstash-%{[index_tag]}-%{+YYYY.MM.dd}"
    }

}
